<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del Request HTTP GET - URL</h1>
	<br/>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola Luis!'">/variables/string/Hola Luis!</a></li>
		<li><a th:href="@{/variables/string/} + 'Que tal Trini!'">/variables/string/Que tal Trini!</a></li>
		<li><a th:href="@{/variables/string/} + ${'Saludos Luis!'}+ '/' + ${'7'}">/variables/string/Saludos Luis!/7</a></li>
		
	</ul>
</body>
</html>